# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.pytest_cache/
.coverage

# Virtual env
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp

# Proje çıktıları
data/*.db
reports/*.html
reports/*.json
reports/*.pdf

# OS
.DS_Store
Thumbs.db
